<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>PiggyBank</title>
</head>
<body>
    <h1>Vous pouvez maintenant télécharger l'application</h1>
    <br/>
    <br/>
    <p>Bonjour {{ username }}, merci de vous être inscrit sur PiggyBank,</p>
    <p>Téléchargez l'application en cliquant sur le bouton :</p>

    <p>
        <a id="btnDownload" href="{{ url_for('static', filename='PiggyBank.exe') }}">Télécharger</a>
    </p>
    <br/>
    <br/>
    <br/>

    <h2>Guide de téléchargement</h2>
    <br/>
    <p>Une fois que vous avez cliqué sur le bouton "Télécharger", cliquez sur "Enregistrer" comme sur l'image ci-dessous.</p>
    <img src="{{ url_for('static', filename='download_step1.png') }}" />
    <p>Ensuite rendez vous dans vos téléchargements en cliquant sur l'icone en forme de dossier, comme indiqué sur la photo qui suit.</p>
    <img src="{{ url_for('static', filename='download_step2.png') }}" />
    <p>Lorsque vous êtes dans vos téléchargements, vous devriez voir l'application comme sur l'image. Executez-la en double-cliquant dessus.</p>
    <img src="{{ url_for('static', filename='download_step3.png') }}" />
    <p>A ce moment devriez voir apparaitre la fenetre presente ci-dessous. Cliquez sur "Informations complémentaires".</p>
    <img src="{{ url_for('static', filename='download_step4.png') }}" />
    <p>Puis cliquez sur "Executer quand même".</p>
    <img src="{{ url_for('static', filename='download_step5.png') }}" />
    <p>Vous voilà à la fin du téléchargement, après un court temps l'accueil de l'application va apparaitre et vous n'aurez plus qu'a vous connecter avec les identifiants avec lesquels vous vous êtes inscrit.</p>

</body>
</html>