<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>PiggyBank</title>
</head>
<body>
    <h1>Connectez vous sur PiggyBank</h1>
    <br/>
    <br/>
    <form action="{{ url_for('Download') }}" method="POST">
        <input type="hidden" name="form_id" value="form_SU">

        <p>
            <label for="username">Entrez votre identifiant : </label>
            <input class="inputText" type="text" name="username" id="username" required/>
        </p>

        <p>
            <label for="pwd">Entrez votre mot de passe : </label>
            <input class="inputText" type="password" name="password" id="pwd" required/>
        </p>
        {% if error %}
            <p id="error" >{{ error }}</p>
        {% endif %}
        <br/>

        <p>
            <input class="btn" type="submit" value="Se connecter"/>
        </p>
    </form>
</body>
</html>