<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>PiggyBank</title>
    <link rel='stylesheet' href='assets/style.css'>
</head>
<body>
    <h1>Inscrivez vous sur PiggyBank</h1>
    <form method="get">
        <label for="username">Entrez votre identifiant</label>
        <input type="text" id="username"><br/>
        <label for="username">Entrez votre mot de passe</label>
        <input type="password" id="pwd"><br/>
        <label for="username">Entrez à nouveau votre mot de passe</label>
        <input type="password" id="pwdVerif"><br/>
    </form>
</body>
</html>